/* basico */

.browsehappy
	margin 0.2em 0
	background #ccc
	color #000
	padding 0.2em 0

body
	padding 0
	background-color rgba(240,240,240,1)
  
.bg-principal
	background-color principal
	 
.color-principal
	color principal	 
	 
#email:-webkit-autofill
	-webkit-box-shadow:0 0 0 50px lighten(principal,40) inset
	
#nombre:-webkit-autofill
	-webkit-box-shadow:0 0 0 50px lighten(principal,40) inset

#apellido:-webkit-autofill
	-webkit-box-shadow:0 0 0 50px lighten(principal,40) inset
	
#crearReceta:-webkit-autofill
	-webkit-box-shadow:0 0 0 50px lighten(principal,40) inset
	
h4 
	color rgba(0,0,0,0.4)
	
h5 
	color rgba(0,0,0,0.5)		

h6 
	color lighten(red, 10)
	margin-top 20px
	
.btn:hover
	background-color lighten(principal,10)	
