/* buscador */

.buscadorContenedor
	position fixed
	bottom -75px
	width 100%
	height 75px
	background-color principal
	transition all .6s

	& i
		width 10%
		float left
		height 74px
		line-height 74px
		color #fff
		text-align center

	& input
		width 80%
		float left
		height 74px
		margin 0
		color #fff
		border none
		padding 0 10px
		box-sizing border-box

	& input:focus
		background-color rgba(255,255,255,0.1)

	& input[type=text]:focus 
		border-bottom none
		box-shadow none

	& ul
		width 10%
		height 74px
		float left
		margin 0

	& ul li
		height 100%
		transition background-color .3s

	& ul li a
		text-align center
		width 100%
		height 100%
		display block
		line-height 74px
		color #fff
		cursor pointer
		font-size 15px

	& ul li:hover
		background-color rgba(0,0,0,0.1)


.fixed-action-btn
	transition all .4s
	
	& a:hover 
		background-color darken(principal,10)
	
@media screen and (max-width: 650px)
	.buscadorContenedor ul
		width 15%

	.buscadorContenedor input
		width 75%
	  
