/* detalles */ 

.pasosModal
	width 100vw
	height 100vh
	opacity 0
	background-color rgba(0,0,0,0.5)
	position fixed
	z-index 997
	top 0
	display none
	transition all .5s

.pasosModalContenedor
	display flex
	justify-content center

.pasosModalInterno
	width 55%
	min-height 200px
	border-radius 2px
	background-color #fff
	position absolute
	top 10%
	margin0  auto
	box-shadow 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3)
	z-index 1003
	display block

.eliminarModal
	width 100vw
	height 100vh
	opacity 0
	background-color rgba(0,0,0,0.5)
	position fixed
	z-index 997
	top 0
	display none
	transition all .5s

.eliminarModalContenedor
	display flex
	justify-content center


.eliminarModalInterno
	width 55%
	min-height 150px
	border-radius 2px
	background-color #fff
	position absolute
	top 10%
	margin0  auto
	box-shadow 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3)
	z-index 1003
	display block
	
.enlinea-contenedor
	position absolute
	top 0 
	right 0
	
.fueradelinea
	color white	
	background-color lighten(grey,30)
	padding 5px 15px
	margin-right 15px
	border-radius 3px
	
.enlinea
	color white
	padding 5px 15px
	margin-right 15px
	border-radius 3px	
	
.dropdown-content li > span
	color principal
	
.coccion-tiempo
	float left
	margin 0 8px 0 -12px
	height 32px
	width 32px
	border-radius 50%
	text-align center
	line-height 32px
	font-size 20px
	background-color darken(#fff,20)
	color principal
	
.porciones-cantidad
	float left
	margin 0 8px 0 -12px
	height 32px
	width 32px
	border-radius 50%
	text-align center
	line-height 32px
	font-size 20px
	background-color darken(#fff,20)
	color principal	
	
@media screen and (max-width: 650px) 
	.pasosModalInterno
		width 85%

	.eliminarModalInterno
		width 90%


