.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.loginSociales{
  margin-top: 15px;
}

.loginSociales a{
  width: 49%;
}

.facebook{
  background-color: #3b5998;
}

.twitter{
  background-color: #00aced;
}

.card-action{
  display: flex;
  justify-content: space-around;
}

.card-action a{
  margin-right: 0 !important;
}

.no-js #loader{
  display: none;
}

.js #loader{
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidenav-overlay{
  z-index: 996 !important;
}

.principalBG{
  background-color: coral;
}

.pasosModal{
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 997;
  top: 0;
  display: none;
  transition: all .5s;
}

.pasosModalContenedor{
  display: flex;
  justify-content: center;
}

.pasosModalInterno{
  width: 55%;
  min-height: 200px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 10%;
  margin:0  auto;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
  z-index: 1003;
  display: block;
}

.eliminarModal{
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 997;
  top: 0;
  display: none;
  transition: all .5s;
}

.eliminarModalContenedor{
  display: flex;
  justify-content: center;
}

.eliminarModalInterno{
  width: 55%;
  min-height: 150px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 10%;
  margin:0  auto;
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.3);
  z-index: 1003;
  display: block;
}

@media screen and (max-width: 600px) {
    .eliminarModalInterno{
      width: 90%;
    }
}
