/* navegador */

#sidenav-overlay
	z-index 996 !important
	
#ingresar button:hover
	background-color lighten(principal,10)
	
#registrarse button:hover
	background-color lighten(principal,10)	

.input-field input[type=text]:focus + label
	color principal	
	
.input-field input[type=email]:focus + label
	color principal

.input-field input[type=password]:focus + label
	color principal
	
.input-field input[type=text]:focus
	border-bottom-color principal
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);	
	
.input-field input[type=email]:focus
	border-bottom-color principal
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
	
.input-field input[type=password]:focus
	border-bottom-color principal
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
	
#textarea2:focus
	border-bottom-color principal
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
	
#textarea2:focus + label
	color principal	
	
.active a
	color principal !important	
	
.brand-logo img 
	width 230px	
	
@media screen and (max-width: 650px) 

	.brand-logo img 
		width 210px	