/* privado */

.tabs .tab a .active 
	color principal	!important
	
.tabs .indicator
	background-color lighten(principal,10) !important
	
.input-field .prefix.active
	color principal !important
	
button:hover 
	background-color lighten(principal,10)		