@import 'variables.styl'
@import 'basico.styl'
@import 'cargador.styl'
@import 'navegador.styl'
@import 'buscador.styl'
@import 'inicio.styl'
@import 'receta.styl'
@import 'privado.styl'
@import 'detalles.styl'
