.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding: 0;
  background-color: #f0f0f0;
}
.bg-principal {
  background-color: #e72c4b;
}
.color-principal {
  color: #e72c4b;
}
#email:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #fce3e7 inset;
}
#nombre:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #fce3e7 inset;
}
#apellido:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #fce3e7 inset;
}
#crearReceta:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px #fce3e7 inset;
}
h4 {
  color: rgba(0,0,0,0.4);
}
h5 {
  color: rgba(0,0,0,0.5);
}
h6 {
  color: #f33;
  margin-top: 20px;
}
.btn:hover {
  background-color: #ec5a72;
}
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
#sidenav-overlay {
  z-index: 996 !important;
}
#ingresar button:hover {
  background-color: #ec5a72;
}
#registrarse button:hover {
  background-color: #ec5a72;
}
.input-field input[type=text]:focus + label {
  color: #e72c4b;
}
.input-field input[type=email]:focus + label {
  color: #e72c4b;
}
.input-field input[type=password]:focus + label {
  color: #e72c4b;
}
.input-field input[type=text]:focus {
  border-bottom-color: #e72c4b;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
}
.input-field input[type=email]:focus {
  border-bottom-color: #e72c4b;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
}
.input-field input[type=password]:focus {
  border-bottom-color: #e72c4b;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
}
#textarea2:focus {
  border-bottom-color: #e72c4b;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
}
#textarea2:focus + label {
  color: #e72c4b;
}
.active a {
  color: #e72c4b !important;
}
.brand-logo img {
  width: 230px;
}
@media screen and (max-width: 650px) {
  .brand-logo img {
    width: 210px;
  }
}
.buscadorContenedor {
  position: fixed;
  bottom: -75px;
  width: 100%;
  height: 75px;
  background-color: #e72c4b;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.buscadorContenedor i {
  width: 10%;
  float: left;
  height: 74px;
  line-height: 74px;
  color: #fff;
  text-align: center;
}
.buscadorContenedor input {
  width: 80%;
  float: left;
  height: 74px;
  margin: 0;
  color: #fff;
  border: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.buscadorContenedor input:focus {
  background-color: rgba(255,255,255,0.1);
}
.buscadorContenedor input[type=text]:focus {
  border-bottom: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.buscadorContenedor ul {
  width: 10%;
  height: 74px;
  float: left;
  margin: 0;
}
.buscadorContenedor ul li {
  height: 100%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.buscadorContenedor ul li a {
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
  line-height: 74px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}
.buscadorContenedor ul li:hover {
  background-color: rgba(0,0,0,0.1);
}
.fixed-action-btn {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.fixed-action-btn a:hover {
  background-color: #c91734;
}
@media screen and (max-width: 650px) {
  .buscadorContenedor ul {
    width: 15%;
  }
  .buscadorContenedor input {
    width: 75%;
  }
}
.carta {
  display: inline-block;
}
.carta a {
  color: rgba(0,0,0,0.8);
}
.carta .card-title {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.65)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
}
.carta .card {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.carta .card:hover > .call-to-action {
  opacity: 1;
}
.carta.card-content {
  padding-bottom: 10px !important;
}
.collection .collection-item.avatar {
  min-height: 65px;
}
.collection .collection-item {
  background-color: rgba(240,240,240,0.5);
}
.collection .collection-item p {
  color: rgba(50,50,50,0.5);
}
.call-to-action {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.65)));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
  -webkit-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
  opacity: 0;
}
.call-to-action a:hover {
  background-color: #ec5a72;
}
.guardar {
  margin: 10px 15px 0 0;
}
.favorito {
  margin: 10px 0 0 15px;
  width: 40px;
  padding: 0 10px;
}
.call-data-contenedor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 15px;
  width: 100%;
}
.call-data-contenedor .favorite-contenedor {
  width: 25%;
  color: rgba(50,50,50,0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.call-data-contenedor .favorite-contenedor i {
  padding-top: 2px;
  font-size: 15px;
  margin-right: 5px;
}
.call-data-contenedor .basket-contenedor {
  width: 25%;
  color: rgba(50,50,50,0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.call-data-contenedor .basket-contenedor i {
  padding-top: 2px;
  font-size: 15px;
  margin-right: 5px;
}
#columnas {
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
.preloader-wrapper {
  margin: 10px 0 0 10px;
}
.preloader-wrapper .spinner-layer {
  border-color: #e72c4b;
}
.inicio-categorias {
  margin: 10px 0px 0px;
  width: 100%;
}
.inicio-tiempo {
  margin: 5px 0px;
  width: 100%;
}
@media screen and (max-width: 1920px) {
  #columnas {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }
}
@media screen and (max-width: 1600px) {
  #columnas {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}
@media screen and (max-width: 1200px) {
  #columnas {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
@media screen and (max-width: 997px) {
  #columnas {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media screen and (max-width: 650px) {
  .call-data-contenedor .favorite-contenedor {
    width: 35%;
  }
  .call-data-contenedor .basket-contenedor {
    width: 35%;
  }
  #columnas {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}
.receta-imagen {
  width: 100%;
  margin-top: 15px;
}
.receta-usuario {
  font-size: 18px;
}
.receta-fecha {
  color: rgba(0,0,0,0.5);
}
.receta-acciones {
  margin: 5px 0px 13px;
}
.receta-btn-accion {
  background-color: #e72c4b;
  margin: 0;
  padding: 8px 15px;
  color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 8px;
}
.receta-btn-accion i {
  font-size: 14px;
  margin-right: 5px;
}
.receta-btn-accion:hover {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -4px rgba(0,0,0,0.2);
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -4px rgba(0,0,0,0.2);
  background-color: #ec5a72;
}
.receta-btn-accion-extras {
  background-color: #fff;
  margin: 0;
  padding: 8px 12px;
  color: #333;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 8px;
}
.receta-btn-accion-extras i {
  font-size: 14px;
}
.receta-btn-accion-extras:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
@media screen and (max-width: 650px) {
  .receta-btn-accion {
    background-color: #e72c4b;
    margin: 0;
    padding: 8px 15px;
    color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-right: 8px;
  }
}
.tabs .tab a .active {
  color: #e72c4b !important;
}
.tabs .indicator {
  background-color: #ec5a72 !important;
}
.input-field .prefix.active {
  color: #e72c4b !important;
}
button:hover {
  background-color: #ec5a72;
}
.pasosModal {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 997;
  top: 0;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.pasosModalContenedor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pasosModalInterno {
  width: 55%;
  min-height: 200px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 10%;
  margin0: auto;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
  z-index: 1003;
  display: block;
}
.eliminarModal {
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 997;
  top: 0;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.eliminarModalContenedor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.eliminarModalInterno {
  width: 55%;
  min-height: 150px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  top: 10%;
  margin0: auto;
  -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
  z-index: 1003;
  display: block;
}
.enlinea-contenedor {
  position: absolute;
  top: 0;
  right: 0;
}
.fueradelinea {
  color: #fff;
  background-color: #ccc;
  padding: 5px 15px;
  margin-right: 15px;
  border-radius: 3px;
}
.enlinea {
  color: #fff;
  padding: 5px 15px;
  margin-right: 15px;
  border-radius: 3px;
}
.dropdown-content li > span {
  color: #e72c4b;
}
.coccion-tiempo {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-size: 20px;
  background-color: #ccc;
  color: #e72c4b;
}
.porciones-cantidad {
  float: left;
  margin: 0 8px 0 -12px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-size: 20px;
  background-color: #ccc;
  color: #e72c4b;
}
@media screen and (max-width: 650px) {
  .pasosModalInterno {
    width: 85%;
  }
  .eliminarModalInterno {
    width: 90%;
  }
}
