<div class="row" style="margin-top:7px">
  <div class="col s12 m4 l3">
    <div class="card hoverable">
      <div class="card-image">
        <img src='images/spinner.gif' lazy-img="http://s3.amazonaws.com/etntmedia/media/images/ext/446341906/fast-food-burger-fries.jpg">
        <span class="card-title">Card Title</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>

      </div>
      <ul class="collection" style="border-right: none; border-left: none; border-bottom: none; margin:0">
        <li class="collection-item avatar">
          <img src='images/spinner.gif' lazy-img="http://labs.plantbio.cornell.edu/rose/images/thumbnails/joss100_bw.jpg" alt="" class="circle">
          <span class="title">Alam Broski</span>
          <p>
            21 noviembre 2016
            <br>
            Cocinero amateur.
          </p>
        </li>
      </ul>
      <div class="card-action">
        <a href="#">Ver reseta.</a>
      </div>
      <div class="card-action">
        <a href="#">
          <i class="material-icons">star_border</i>
        </a>
        <a href="#">
          <i class="material-icons">favorite_border</i>
        </a>
        <a href="#">
          <i class="material-icons">share</i>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- BUSCAR BOTON -->

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light red" ng-click="abrirBuscador()">
    <i class="large material-icons">search</i>
  </a>
</div>

<div class="buscadorContenedor">
  <i class="material-icons">search</i>
  <form>
    <input id="buscador" type="text">
  </form>
  <ul>
    <li>
      <a ng-click="cerrarBuscador()">Cerrar</a>
    </li>
  </ul>
</div>
