<div class="row" style="margin-top:7px">
  <div class="col s6 m4 l3 xl2">
    <div class="card hoverable">
      <div class="card-image">
        <img src='images/tastyhouselarge.gif' lazy-img="http://d28septx7rf3dp.cloudfront.net/sites/default/files/u27746/Depositphotos_38772135_m.jpg">
        <span class="card-title">Carne la horno con papas</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
        </p>
        <div class="call-data-contenedor">
          <div class="favorite-contenedor">
            <i class="material-icons">favorite</i>
            <span>46</span>
          </div>
          <div class="basket-contenedor">
            <i class="material-icons">shopping_basket</i>
            <span>95</span>
          </div>
        </div>
      </div>
      <ul class="collection" style="border-right: none; border-left: none; border-bottom: none; margin:0">
        <li class="collection-item avatar">
          <img src='images/tastyhouse.gif' lazy-img="http://labs.plantbio.cornell.edu/rose/images/thumbnails/joss100_bw.jpg" alt="" class="circle">
          <span class="title">Alam Broski</span>
          <p>
            21 noviembre 2016
          </p>
        </li>
      </ul>
      <div class="call-to-action">
        <a class="waves-effect waves-light btn white favorito">
          <i class="material-icons left grey-text">favorite_border</i>
        </a>
        <a class="waves-effect waves-light btn bg-principal right guardar">
          <i class="material-icons left">shopping_basket</i>
          guardar
        </a>
      </div>
    </div>
  </div>
</div>

<!-- BUSCAR BOTON -->

<div class="fixed-action-btn">
  <a class="btn-floating btn-large waves-effect waves-light bg-principal" ng-click="abrirBuscador()">
    <i class="large material-icons">search</i>
  </a>
</div>

<div class="buscadorContenedor">
  <i class="material-icons">search</i>
  <form>
    <input id="buscador" type="text">
  </form>
  <ul>
    <li>
      <a ng-click="cerrarBuscador()">Cerrar</a>
    </li>
  </ul>
</div>
